<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hntyy.mapper.yeepay.NotifyUrlMapper">

    <insert id="insert" parameterType="com.hntyy.bean.yeepay.query.NotifyUrlEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notify_url(`local_url`,`param_url`,`type`,`request_id`,`create_date`)
        values (#{localUrl},#{paramUrl},#{type},#{requestId},NOW())
    </insert>

    <select id="getNotifyUrl" resultType="com.hntyy.bean.yeepay.query.NotifyUrlEntity">
        SELECT `local_url` localUrl,param_url paramUrl,`type` type,request_id requestId FROM notify_url where request_id=#{requestId} and `type`=#{type} order by create_date desc limit 1;
    </select>

</mapper>