<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hntyy.mapper.yeepay.TradeRefundParamMapper">

    <insert id="insert" parameterType="com.hntyy.bean.yeepay.query.TradeRefundParam" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO trade_refund_param(`parent_merchant_no`,`merchant_no`,`order_id`,`refund_request_id`,`unique_order_no`,`refund_amount`,`description`,`notify_url`,`create_date`)
        values (#{parentMerchantNo},#{merchantNo},#{orderId},#{refundRequestId},#{uniqueOrderNo},#{refundAmount},#{description},#{notifyUrl},NOW())
    </insert>

</mapper>